@page "/"
@using TeaRoundPicker.Domain

<PageTitle>Tea Round Picker</PageTitle>

<h1>Welcome to the tea round picker. Shall we begin...</h1>

<input type="text" @bind=NewParticipant />

<button @onclick="AddParticipant" >Add Participant</button>

<ul>
    @foreach (var participant in Participants)
    {
        <li>@participant</li>
    }
</ul>

<div>
    <button @onclick="PickParticipant">Pick!</button>
</div>

@if (PickedParticipant != null)
{
    <div>
        <p>And the winner is...</p>
        <h2>@PickedParticipant</h2>
    </div>
}
 
@code {
    [Parameter]
    public string? NewParticipant { get; set; }

    private List<Participant> Participants = new List<Participant>();

    private Participant? PickedParticipant;

    private void AddParticipant()
    {
        if (NewParticipant != null)
        {
            Participants.Add(new Participant(NewParticipant));
        }

        NewParticipant = string.Empty;
    }

    private void PickParticipant()
    {
        var picker = new RandomPicker();

        PickedParticipant = picker.PickParticipant(Participants);
    }
}