@page "/"

<PageTitle>Tea Round Picker</PageTitle>

<h1>Welcome to the tea round picker. Shall we begin...</h1>

<input type="text" value=@ParticipantName />

<button @onclick="AddParticipant" >Add Participant</button>

<div>
    <button @onclick="PickParticipant">Pick!</button>
</div>

@code {
    [Parameter]
    public string? ParticipantName { get; set; }

    private void AddParticipant()
    {


    }

    private void PickParticipant()
    {
        
    }
}